.full-page {
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}

.jumbotron-color {
    background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}

.text-color-custom {
    color: #172554;
}