
.screen-1 {
  margin: 5vh auto;
  width: 700px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow-y: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5em;
  border-radius: 30px;
  box-shadow: 0 0 2em #e6e9f9;
  justify-content: center;
  align-items: center;
  background: #f1f7fe;
  padding: 2em;
}

.remove-border {
  border-color: white;
}

.screen-1 .username,
.screen-1 .firstName,
.screen-1 .lastName,
.screen-1 .phoneNo,
.screen-1 .userType,
.screen-1 .gender,
.screen-1 .nickName,
.screen-1 .password {
  background: white;
  box-shadow: 0 0 2em #e6e9f9;
  padding: 5px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  color: #4d4d4d;
}

.screen-1 .header {
  grid-column: span 2;
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  color: #4d4d4d;
  text-align: center;
}

.screen-1 input {
  outline: none;
  border: none;
}

.screen-1 .register-container {
  grid-column: span 2;
  display: flex;
  justify-content: center;
}

.screen-1 .register {
  flex: 1;
  padding: 1em;
  background: #3e4684;
  color: white;
  border: none;
  border-radius: 30px;
  font-weight: 600;
}

.screen-1 .footer-signup {
  grid-column: span 2;
  display: flex;
  font-size: 0.7em;
  color: #5e5e5e;
  gap: 14em;
}

button {
  cursor: pointer;
}
.signup,
.forgot-password {
  cursor: pointer;
}
