.screen-4 {
  background: #f1f7fe;
  padding: 25px;
  display: flex;
  width: 400px;
  flex-direction: column;
  border-radius: 30px;
  box-shadow: 0 0 2em #e6e9f9;
  gap: 30px;
  margin: 5vh auto;
}

.screen-4 .header {
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  color: #4d4d4d;
  text-align: center;
}

.screen-4 .username,
.screen-4 .nickname,
.screen-4 .new-password {
  background: white;
  box-shadow: 0 0 2em #e6e9f9;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  border-radius: 20px;
  color: #4d4d4d;
}

.screen-4 input {
  outline: none;
  border: none;
}

.screen-4 .forgot-password {
  padding: 1em;
  background: #3e4684;
  color: white;
  border: none;
  border-radius: 30px;
  font-weight: 600;
}

.screen-4 .footer-forgot {
  display: flex;
  font-size: 0.7em;
  color: #5e5e5e;
  justify-content: space-between;
}

button {
  cursor: pointer;
}
